{% set title = 'Roran' %}
{% extends 'layouts/_layout.njk' %}

{% block content %}
    {% include 'partials/_menu.njk' %}
    {% include 'partials/_about.njk' %}
    {% include 'partials/_service.njk' %}
    {% include 'partials/_quote.njk' %}
    {% include 'partials/_team.njk' %}
    {% include 'partials/_portfolio.njk' %}
    {% include 'partials/_contact.njk' %}
{% endblock %}