<header class="site-header">
    <div class="container">
        <div class="heading">
            <div class="heading__title">
                <div class="heading__title -logo">
                    Roran.
                </div>
                <div class="heading__title -large">
                    Psd template
                </div>
                <div class="heading__title -small">
                    By LunarTemplates
                </div>
                <div class="heading__title -line">

                </div>
                <div class="heading__link">
                    www.lunartemplates.com
                </div>
            </div>
            <div class="heading__arrow">
            <div class="heading__arrow -opacity25">
                <img src="img/header-arrow.png">
            </div>
            <div class="heading__arrow -opacity50">
                <img src="img/header-arrow.png">
            </div>
            <div class="heading__arrow -opacity">
                <img src="img/header-arrow.png">
            </div>
            </div>
            </div>
        <div class="header-download">
            <div class="header-download__trapeze">
                <div class="header-download__text">
                    Free to download<br> at lunartemplates.com
                </div>
            </div>
        </div>

    </div>
</header>