<section class="quote">
    <div class="container">
        <div class="quote__text">
            <blockquote>
                <p>
                Lorem ipsum dolor sit amet,
                <span class="quote__text -bold">consectetur adipiscing</span> elit.
                Integer at purus vulputate, <span class="quote__text -bold">vehicula</span> nisi vitae,
                lobortis ante. Praesent sodales iaculis ultricies. Vestibulum et
                <span class="quote__text -bold">tristique</span> nisl, sed volutpat ante.
                </p>
            </blockquote>

            <div class="quote__text -name">
                Jonathan Doe
            </div>
        </div>
    </div>
</section>