{% macro captionItem(title, desc) %}
    <div class="caption">
        <h2 class="caption__bold">{{ title }}</h2>
        <p class="caption__regular">{{ desc }}</p>
    </div>
{% endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="site-wrapper">
    <div class="header-wrapper">
        {% block header %}
            {% include 'partials/_header.njk' %}
        {% endblock %}
    </div>
   {% block content %}{% endblock %}
    <div class="footer-wrapper">
        {% block footer %}
            {% include 'partials/_footer.njk' %}
        {% endblock %}
    </div>
</div>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>

</html>